files:
  "/etc/default/docker":
    mode: "000444"
    content: |
      DOCKER_OPTS="-no-cache"
commands:
  00001_add_privileged:
    cwd: /tmp
    command: 'sed -i "s/docker run -d/docker run -p 8000:8000 -p 6600:6600 --privileged --cap-add SYS_ADMIN --cap-add MKNOD --device=/dev/fuse --security-opt apparmor:unconfined -v/" /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh'